---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;

function formatDate(date: Date) {
  const options: Intl.DateTimeFormatOptions = {
    month: "long",
    day: "numeric",
    year: "numeric",
  };
  return date.toLocaleDateString("en-US", options);
}
---

<div class="card bg-base-100 shadow-xl hover:shadow-2xl transition-shadow">
  <figure class="aspect-video">
    <Image src={post.data.image} alt={post.data.title} />
  </figure>

  <div class="card-body">
    <h3 class="card-title hover:text-primary transition-colors">
      <a href={`/blog/${post.id}`}>{post.data.title}</a>
    </h3>

    <time class="text-sm opacity-70">
      {formatDate(post.data.publishDate)}
    </time>

    <p>{post.data.description}</p>
  </div>
</div>